.contact_heading {
  text-align: center;
}

.main_div {
  background-color: burlywood;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  width: 600px;
  height: 85vh;
  transform: perspective(800px);

  transition: transform 1s ease 0s;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
}

.contact_content {
  padding: 10px;
}

.contact_para {
  padding: 10px;
}

